.body {
    background-image: url('../img/bg/index_bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #3E363F;
    font-family: "Lato", sans-serif;
    height: 100vh;
    overflow: hidden;
}

#root {
    background-color: #00000022;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.page-main {
    width: 100%;
    height: 100vh;
}

.index-audio-player {
    position: absolute;
    top: 20px;
    left: 100px;
}

.setting-panel {
    display: flex;
    flex-direction: row-reverse;
    height: 7rem;
    align-items: center;
    background-color: rgba(138, 43, 226, 0.2);
    padding-right: 15rem;
}
  
.setting-item {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 50px;
    margin-left: 50px;
}

.setting-title {
    margin-left: 20px;
    margin-right: 10px;
    width: 200px;
    white-space:nowrap;
    color: #FFFFFF;
}

.little-container {
    width: 18rem;
    height: 3.8rem;
    border-radius: 1rem;
    overflow: hidden;
}