.sys-desktop-app-icon-container {
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sys-desktop-app-icon-container:hover {
    background-color: #FFFFFF33;
}

.sys-context-menu-item {
    background-color: transparent;
    cursor: pointer;
}

.sys-context-menu-item:hover {
    background-color: #00000033;
}

.sys-close-container {
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
    border-radius: 0.8rem;
    background-color: rgba(255, 255, 255);
    cursor: pointer;
    color: #000000EE;
    opacity: 0.3;
    font-family: "Lato", Arial, sans-serif;
}

.sys-close-container:hover {
    transition: all 0.3s linear;
    opacity: 0.6;
}


@keyframes sys-commonui-display-anim {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
.sys-commonui-display {
    animation: sys-commonui-display-anim 500ms ease-in-out;
}

@keyframes sys-commonui-hide-anim {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
.sys-commonui-hide {
    animation: sys-commonui-hide-anim 500ms ease-in-out;
    transform: translateY(100%);
}

.sys-position-center {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 6rem;
}

.sys-fileui-container::-webkit-scrollbar {
    width: 1rem;
    background-color: rgb(46, 50, 53);
    border-radius: 1rem;
}
  
.sys-fileui-container::-webkit-scrollbar-thumb{
    box-shadow:inset 0 0 7px rgba(0,0,0,.3);
    border-radius: 0.5rem;
    background: #FFFFFF33;
}

.sys-maximize {
    position: relative;
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
    cursor: pointer;
}

.sys-maximize:hover {
    transition: all 0.3s linear;
    opacity: 1;
}

.sys-maximize:before, .sys-maximize:after, .sys-maximize>:first-child:before, .sys-maximize>:first-child:after {
    position:absolute;
    width:0.4rem; height: 0.4rem;
    border-color:#FFFFFF;
    border-style:solid;
    content: ' ';
}
.sys-maximize:before { top:0; left:0; border-width: 0.3rem 0 0 0.3rem}
.sys-maximize:after {top:0; right:0; border-width: 0.3rem 0.3rem 0 0}
.sys-maximize>:first-child:before { bottom:0; right:0; border-width: 0 0.3rem 0.3rem 0}
.sys-maximize>:first-child:after { bottom:0; left:0; border-width: 0 0 0.3rem 0.3rem}