.audio-widget-opacity {
    opacity: 0.6;
}

.audio-widget-opacity:hover {
    transition: all 0.3s linear;
    opacity: 1;
}

@keyframes audio-center-show-anim {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes audio-center-hide-anim {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.audio-center-hide {
    transform-origin: 50% 50% 0;
    animation: audio-center-hide-anim 500ms ease-in-out;
    transform: scale(0,0);
}

.audio-center-show {
    animation: audio-center-show-anim 500ms ease-in-out;
    transform-origin: 50% 50% 0;
}

@keyframes audio-left-show-anim {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
}

@keyframes audio-left-hide-anim {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
    }
}

.audio-left-hide {
    transform-origin: 0 50% 0;
    animation: audio-left-hide-anim 500ms ease-in-out;
    transform: scale(0,0);
}
  
.audio-left-show {
    transform-origin: 0 50% 0;
    animation: audio-left-show-anim 500ms ease-in-out;
}

@keyframes audio-top-hide-anim {
    0% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0);
    }
}

.boyia-toast {
    width: fit-content;
    white-space: nowrap;
    padding:0 14px;
    height: 40px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    background: rgba(0, 0, 0,.7);
    font-size: 16px;
}

@keyframes audio-playlist-display-anim {
    0% {
        transform: scaleY(0.001);
    }
    100% {
        transform: scaleY(1);
    }
}
  
.audio-playlist-show {
    transform-origin: 50% 0 0;
    animation: audio-playlist-display-anim 500ms ease-out;
}

.audio-playlist-hide {
    transform-origin: 50% 0 0;
    animation: audio-top-hide-anim 500ms ease-out;
    position: relative;
    border-radius: 1rem;
    transform: scale(0,0);
}

.audio-playlist-lock-hide {
    transform-origin: 50% 100% 0;
    animation: audio-top-hide-anim 500ms ease-out;
    position: relative;
    border-radius: 1rem;
    transform: scale(0,0);
}

.audio-playlist-lock-show {
    transform-origin: 50% 100% 0;
    animation: audio-playlist-display-anim 500ms ease-out;
}

.audio-close-container {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
}